<div class="container">
  <div class="reference-block text-center">
    <h1 class="mb-4">Справочник по Anki</h1>
    <ul class="list-unstyled">
      <li class="mb-2"><a href="/introduction" class="btn btn-light btn-block">Введение в Anki</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Создание эффективных карточек</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Использование Anki для изучения языков</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Дополнения и плагины для Anki</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Синхронизация и резервное копирование Anki</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Анализ и статистика в Anki</a></li>
      <li class="mb-2"><a href="#" class="btn btn-light btn-block">Продвинутые приемы работы с Anki</a></li>
    </ul>
  </div>
</div>